node_modules/**/*
.expo/*
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
web-report/
environment.js
.gradle/
.idea/
build/gradle
frontend.iml
gradle/
gradlew
gradlew.bat
local.properties
build.gradle
google-services.json